@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Lato&family=Montserrat:wght@800&display=swap');
header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url("../img/hedimg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .container {
        width: 100%;
        max-width: 1000px;
        margin-left: 50%;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        z-index: 99;
        align-items: center;
        align-items: center;
        overflow: hidden;
        nav {

            .menyu-Btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 130px;
                right: 0;
                top: 25px;
                transition: all 0.5s ease-in-out;
                .menyu-Btn.close {
                    right: -100%;
                    transition: all 0.5s ease-in-out;
                }
                a {
                    text-decoration: none;
                    text-align: center;
                    width: 100%;
                    list-style-type: none;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    line-height: 160%;
                    text-transform: uppercase;
                    color: #FEFEFE;
                   
                    
                }
                a:nth-child(1) {
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 50px;
                    // line-height: 120%;
                    text-transform: uppercase;
                    color: #01D8D0;
                    
                }
                
            }
            .menu-icon {
                color: #fff;
                position: relative;
                font-size: 45px;
                margin-top: -18px;
                z-index: 999;
                .fa-times {
                    transform: rotate(360deg);
                    transition:  all 0.2s ease-in-out;
                }
                .fa-bars {
                    transform: rotate(180deg);
                    transition:  all 0.2s ease-in-out;
                }
                .fas {
                    cursor: pointer;
                }
            }

        }
        .form-select {
            background-color: rgba(0, 0, 0, 0.786);
            z-index: 999;
            color: #fff;
            width: 98px;
            height: 100%;
            margin-left: 60%;
            text-align: center;
            border-radius: 20px;
            border: 2px solid #FEFEFE;
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
            .op {
                border-radius: 50px;
                border: 1px solid #fff;

            }
        
        }
        img {

            background-color: black;
        }
        .navbar-toggler {
             border-color: #fff;
             background-color: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
             background-color: rgba(255, 255, 255, 0.034);
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));

        }
        
        
        
         
    }
   
}
